<!-- home.handlebars -->
<h1> Weather My Mood <h1>
<h2>Type in your mood based on the list below and you will get the weather
    asociated with your mood. </h2>
<form action="/">
    <input type="text" name="term">
    <button type="submit">Submit</button>
</form>
